# Коэффициент материнской смертности (на 100 000 живорождений)

In [1]:
import pandas as pd

from warnings import simplefilter
simplefilter('ignore')

Эти данные можно найти на сайте ВОЗ по ссылке

https://www.who.int/data/gho/gho-redirect-pages/indicator-resources/maternal-mortality-ratio-(per-100-000-live-births)

In [2]:
who_maternal_mortality_data = pd.read_csv('../data/who_maternal_mortality.csv')

who_maternal_mortality_data.head(2)

,IND_ID,IND_CODE,IND_UUID,IND_PER_CODE,DIM_TIME,DIM_TIME_TYPE,DIM_GEO_CODE_M49,DIM_GEO_CODE_TYPE,DIM_PUBLISH_STATE_CODE,IND_NAME,GEO_NAME_SHORT,RATE_PER_100000_N,RATE_PER_100000_NL,RATE_PER_100000_NU
0,AC597B1MDG_0000000026,MDG_0000000026,AC597B1,MDG_0000000026,2003,YEAR,882,COUNTRY,PUBLISHED,Maternal mortality ratio,Samoa,63.63342,32.7925,120.05662
1,AC597B1MDG_0000000026,MDG_0000000026,AC597B1,MDG_0000000026,1992,YEAR,953,WHOREGION,PUBLISHED,Maternal mortality ratio,Africa,952.69319,867.5550,1046.78252

Проверим наличие пропусков.

In [3]:
who_maternal_mortality_data.isna().sum().sum()

0

Пропусков нет.

В этом наборе даных нам нужны 3 столбца:

- `DIM_TIME` - год
- `GEO_NAME_SHORT` - название страны
- `RATE_PER_100000_N` - коэффициент материнской смертности (на 100 000 живорождений)

In [4]:
# Оставим только нужные столбцы
who_maternal_mortality_data = who_maternal_mortality_data[[
    'DIM_TIME', 'GEO_NAME_SHORT', 'RATE_PER_100000_N',
]]

# Переименуем столбцы в подходящие нам названия
who_maternal_mortality_data.rename(
    columns={
        'DIM_TIME': 'Period',
        'GEO_NAME_SHORT': 'Location',
        'RATE_PER_100000_N': 'MaternalMortality',
    },
    inplace=True
)

# Посмотрим на диапазон дат
print(f"Диапазон лет: \
{who_maternal_mortality_data['Period'].min()} - \
{who_maternal_mortality_data['Period'].max()} гг.")

Диапазон лет: 1985 - 2020 гг.

In [5]:
# Оставим только данные с 2000-го года
drop_mask = who_maternal_mortality_data['Period'] < 2000
who_maternal_mortality_data.drop(who_maternal_mortality_data[drop_mask].index, inplace=True)

# А также переименуем название страны "Côte d'Ivoire" в "Cote d'Ivoire"
# Чтобы не было пропусков при объединении данной таблицы с основной
who_maternal_mortality_data['Location'] = who_maternal_mortality_data['Location'].apply(
    lambda name: "Cote d'Ivoire" if name == "Côte d'Ivoire" else name
)

In [6]:
# Посмотрим на таблицу
who_maternal_mortality_data.head()

   Period    Location  MaternalMortality
0    2003       Samoa           63.63342
3    2019  Montenegro            5.81691
4    2020  Montenegro            6.17443
5    2005        Oman           19.72671
8    2018      Serbia           11.46952

In [7]:
# Убедимся, что в таблице нет пропусков
who_maternal_mortality_data.isna().sum().sum()

0

In [8]:
# Сохраним таблицу для дальнейшего использования
who_maternal_mortality_data.to_csv('../data/who_maternal_mortality_prepared.csv', index=False)